@media (min-width: 768px) {
    .h-md-100 { height: 100vh; }
}
.btn-round { border-radius: 30px; }
.bg-indigo { background: rgb(125 122 127); }
.text-cyan { color: #35bdff; }

body{
	overflow: hidden;
}

/*personalize colors*/
h1,h3,p{
	color: #fff;
}
.btn-info {
    color: #fff;
    background-color: #4c5354;
    border-color: #e6ecec;
}

/*ROCKET*/
*{
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

/*MapKeys*/
.r2minus:hover{
	background-color: #e67e22;
}

body,
html{
	height: 100%;
	width:100%;
}


.canvas{
	position: relative;
	width: 100%;
	height: 100%;
	background: #222;
	display: flex;
	align-items: center;
	justify-content: space-around;
}


.rocket{
	position: relative;
	animation: ranimate 0.2s ease infinite;
	top: 417px;
	align-items: center;
	-ms-flex-align: stretch;
}


.rocket img{
	display: inline-block;
	width: 25px;
	height: auto;
}


@keyframes ranimate{
	0%,100%{
		transform: translateY(-1px);
	}

	50%{
		transform: translateY(1px);
	}
}

.rocket:before{
	content: '';
	position: absolute;
	width: 16px;
	height: 60%;
	top: 100%;
	background: linear-gradient(#e67e22, #f39c12 10%, transparent);
	filter: blur(2px);
}

.rocket:after{
	content: '';
	position: absolute;
	width: 16px;
	height: 60%;
	top: 100%;
	right: 0;
	background: linear-gradient(#e67e22, #f39c12 10%, transparent);
	filter: blur(2px);
}

/* .rocket span{
	content: '';
	position: absolute;
	width: 16px;
	height: 80%;
	top: 100%;
	left: 17px;
	background: linear-gradient(#e67e22, #f39c12 10%, transparent);
	filter: blur(2px);
} */


.canvas i{
	position: absolute;
	top: -33px;
	background: rgba(255,255,255,.5);
	animation: sanimate linear infinite;
}


@keyframes sanimate{
	0%{
		transform: translateY(0);
	}

	100%{
		transform: translateY(100vh);
	}
}